:root {
  --color-bg-secondary: #ccc;
  --color: #18e;
  --color-text: #333;
}
/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #333;
}

  /*
a {
  color: inherit;
  text-decoration: none;
}
  */

* {
  box-sizing: border-box;
}

header {
  padding-bottom: 0;
}

nav {
  margin-bottom: 0;
}

.nav {
  display: flex;
}

.nav > h1 {
  margin-left: 1rem;
}

fieldset {
  margin: 1rem;
  padding: 1.25rem 0;
  flex-grow: 1;
  border: none;
}

legend {
  width: 100%;
  padding: .3rem 0;
  margin-bottom: .3em;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

fieldset label {
    font-weight: normal;
}