:root {
  --color-bg-secondary: #ccc;
  --color: #18e;
  --color-text: #333;
}

html {
  text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

header {
  padding-bottom: 0;
}

nav {
  margin-bottom: 0;
}

summary {
  position: relative;
  display: block;
  margin: .5rem 0;
  padding-left: 1rem;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  position: absolute;
  transform: translate(-20%, -50%) rotate(135deg);
  top: .7rem;
  left: 0rem;
  width: .4rem;
  height: .4rem;
  border-top: 2px solid #777;
  border-left: 2px solid #777;
}

details[open] > summary::before {
  transform: translate(0, -70%) rotate(225deg);
}

details > div {
  padding-left: 1rem;
}

fieldset {
  margin: 1rem;
  padding: 1.25rem 0;
  flex-grow: 1;
  border: none;
}

legend {
  width: 100%;
  padding: .3rem 0;
  margin-bottom: .3em;
  border-bottom: 1px solid var(--color-bg-secondary);
  font-weight: bold;
}

fieldset label {
    font-weight: normal;
}

label {
  font-weight: normal;
}

input[type=radio] {
  margin: 3px;
  z-index: -1;
  outline: none;
}

input[type=radio] + label{
  padding-left: .5rem;
  position: relative;
  margin-right: 1.5rem;
  cursor: pointer;
}

input[type=radio]:focus + label::before {
  border-color: var(--color-text);
}

input[type=radio] + label::before{
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -.5rem;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 50%;
  background: var(--color-bg);
  z-index: 1;
  box-shadow: 0 0 0 .4rem var(--color-bg);
  cursor: pointer;
}

input[type=radio]:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -.5rem;
  width: .6rem;
  height: .6rem;
  border: none;
  border-radius: 50%;
  background: var(--color);
  z-index: 2;
  cursor: pointer;
}


input[type=checkbox] + label {
  padding-left: .5rem;
  position: relative;
  margin-right: 1.5rem;
  cursor: pointer;
}
input[type=checkbox] + label::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -.5rem;
  width: .8rem;
  height: .8rem;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 5px;
  background: var(--color-bg);
  z-index: 1;
  box-shadow: 0 0 0 .4rem var(--color-bg);
  cursor: pointer;
}
input[type=checkbox]:focus + label::before {
  border-color: var(--color-text);
}
input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: -.1rem;
  left: -.8rem;
  z-index: 2;
  width: .5rem;
  height: .8rem;
  transform: rotate(45deg);
}
input[type=checkbox]:checked + label::after {
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
}
input[type=checkbox]:checked:disabled + label::after {
  border-right: 3px solid var(--color-text-secondary);
  border-bottom: 3px solid var(--color-text-secondary);
}

table {
  border: none;
  border-collapse: collapse;
  font-size: 1rem;
}
tbody th {
  background: #eee;
}
tbody td {
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.centered {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    text-align: center;
    color: inherit;
}