:root {
  --color-bg-secondary: #ccc;
  --color: #18e;
  --color-text: #333;
}
/*
html,
body {
  color: #333;
}
*/
* {
  box-sizing: border-box;
}

header {
  padding-bottom: 0;
}

nav {
  margin-bottom: 0;
}

.nav {
  display: flex;
}

.nav > h1 {
  margin-left: 1rem;
}

fieldset {
  margin: 1rem;
  padding: 1.25rem 0;
  flex-grow: 1;
  border: none;
}

legend {
  width: 100%;
  padding: .3rem 0;
  margin-bottom: .3em;
  border-bottom: 1px solid var(--color-bg-secondary);
  font-weight: bold;
}

fieldset label {
    font-weight: normal;
}

input[type=radio] {
  z-index: -1;
  outline: none;
}

input[type=radio] + label{
  padding-left: .5rem;
  position: relative;
  margin-right: 1.5rem;
}

input[type=radio]:focus + label::before {
  border-color: var(--color-text);
}

input[type=radio] + label::before{
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -.5rem;
  width: 1.2rem;
  height: 1.2rem;
  border: 2px solid var(--color-bg-secondary);
  border-radius: 50%;
  background: var(--color-bg);
  z-index: 1;
}

input[type=radio]:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -.5rem;
  width: .75rem;
  height: .75rem;
  border: none;
  border-radius: 50%;
  background: var(--color);
  z-index: 1;
}

table {
  border: none;
  border-collapse: collapse;
}
tbody th {
  background: #eee;
}
tbody td {
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}